---
---

<section class="balance">
    <div class="balance__left">
        <p>My balance</p>
        <h1>$921.48</h1>
    </div>
    <div class="balance__logo"></div>
</section>

<style lang="scss">

</style>