---
import Total from './Total.astro';
import Chart from './Chart.astro';
---

<section class="spendings">
    <h2>Spending - Last 7 days</h2>
    <Chart />
    <div class="separator"></div>
    <Total />
</section>

<style lang="scss">
    .spendings {
      width : 28rem;
      height : auto;
      border-radius: 1rem;
      padding : 2rem;
      background-color: var(--veryPaleOrange);
      margin-top : 1rem;
      color: var(--darkBrown);
      font-size: 1rem;

      .separator {
        width : 100%;
        height : 2px;
        background-color: var(--cream);
        margin-top : 1rem;
      }
    }
</style>
