---
---

<section class="total">
    <div class="total__left">
        <p class="total__left__title">Total this month</p>
        <h2>$478.33</h2>
    </div>
    <div class="total__right">
        <p class="total__right__percent">+2.4%</p>
        <p class="total__right__description">from last month</p>
    </div>
</section>

<style lang="scss">
    .total {
      width : 28rem;
      height : 8rem;
    }
</style>
