---
---

<section class="total">
    <div class="total__left">
        <p class="total__left__title">Total this month</p>
        <h2>$478.33</h2>
    </div>
    <div class="total__right">
        <p class="total__right__percent">+2.4%</p>
        <p class="total__right__description">from last month</p>
    </div>
</section>

<style lang="scss">
    .total {
      width : 100%;
      min-height : 7rem;
      padding-top: 1.5rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &__left {
        &__title {
          color : var(--mediumBrown);
          margin-bottom: .15rem;
        }

        h2 {
          font-size : 2.2rem;
          margin-top: .15rem;
        }
      }

      &__right {
        text-align: right;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &__percent {
          font-weight: 700;
          font-size : .95rem;
        }

        &__description {
          font-size: .85rem;
          color: var(--mediumBrown);
        }
      }
    }
</style>
