---
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Expense Cart</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="description" content="Expense cart component" />
    <meta name="keywords" content="expense, expenses, cart, component, spendings" />
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
    :root {
        --SoftRed: hsl(10, 79%, 65%);
        --Cyan: hsl(186, 34%, 60%);
        --DarkBrown: hsl(25, 47%, 15%);
        --MediumBrown: hsl(28, 10%, 53%);
        --Cream: hsl(27, 66%, 92%);
        --VeryPaleOrange: hsl(33, 100%, 98%);
    }

    *,*::before,*::after {
        margin : 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
</style>