---
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Expense Chart</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="description" content="Expense cart component" />
    <meta name="keywords" content="expense, expenses, cart, component, spendings" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&display=swap" rel="stylesheet">
</head>
<body>
    <slot />
</body>
</html>

<style is:global>
    :root {
        --softRed: hsl(10, 79%, 65%);
        --cyan: hsl(186, 34%, 60%);
        --darkBrown: hsl(25, 47%, 15%);
        --mediumBrown: hsl(28, 10%, 53%);
        --cream: hsl(27, 66%, 92%);
        --veryPaleOrange: hsl(33, 100%, 98%);
    }

    body {
        background-color: var(--cream);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width : 100vw;
        height : 100vh;
    }

    *,*::before,*::after {
        margin : 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
        font-family: 'DM Sans', sans-serif;
    }
</style>